@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F4F4F9;
  font-family: "Futura",  sans-serif;

}



h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #2F3E46;
    font-family: "Futura",  sans-serif;

}

h2 {
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2F3E46;
    text-align: center;
    font-family: "Futura",  sans-serif;

}

.texte-pitch {
    font-size: 2rem;
    font-weight: bold;
    color: #426375;
    margin-left: 5%;
    font-family: "Futura",  sans-serif;

}

.video-pitch iframe {

  width: 60%;
  height: 40rem;
  border: none;
  margin-left: 20%;
  margin-top: 3rem;
}